/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* Estilos para la imagen */
.foto {
    text-align: center;
    margin: 10px 0;
}

.imagen {
    width: 200px;   /* Ancho de la imagen ajustado a 200px */
    height: auto;    /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    border: 5px solid #4CAF50;
}

/* Sección de información */
.informacion {
    background-color: #fff;
    padding: 20px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

/* Estilo del pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative; /* Cambiado de fixed a relative */
    width: 100%;
    bottom: 0;
    height: 50px; /* Ajusta la altura según sea necesario */
}

/* Asegura que el contenido tenga suficiente espacio para desplazarse */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}
