
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* Estilos para la imagen */
.foto {
    text-align: center;
    margin: 10px 0;
}

.imagen {
    width: 200px;   /* Ancho de la imagen ajustado a 200px */
    height: auto;    /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    border: 5px solid #4CAF50;
}

/* Sección de información */
.informacion {
    background-color: #fff;
    padding: 20px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bibliografia {
    background-color: #fff;
    padding: 20px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.row {
    background-color: #fff;
    padding: 20px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Cambiar color 1 */
.btn-success{
    background-color: #fff;
    padding: 5px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cambiar color 2 */
.btn-danger{
    background-color: #fff;
    padding: 5px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.);
}


div {
    color: #333;
}
/* Estilo del pie de página */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative; /* Cambiado de fixed a relative */
    width: 100%;
    bottom: 0;
    height: 50px; /* Ajusta la altura según sea necesario */
}

/* Asegura que el contenido tenga suficiente espacio para desplazarse */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Estilos del botón de Instagram */
.instagram-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px; /* Agrega un espacio superior para separar el botón del pie de página */
}
.instagram-btn:hover {
    background-color: #4CAF50;
}

.facebook-btn:hover {
    background-color: #4CAF50;
}

.facebook-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px; /* Agrega un espacio superior para separar el botón del pie de página */
}

.ingresar {
    background-color: #4CAF50;
}

.btn-sucess {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px; /* Agrega un espacio superior para separar el botón del pie de página */
}

.btn-primary {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 20px; /* Agrega un espacio superior para separar el botón del pie de página */
}

.card1 {
    background-color: #fff;
    padding: 20px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div2 {
    color: #333;
}

/* Semáforo */
.btn-danger1 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 1px; /* Agrega un espacio superior para separar el botón del pie de página */
}

.Champions {
    background-color: #fff;
    padding: 10px;
    margin: 0 15%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

div2 {
    color: #333;
}

/* Semáforo */
.btn-danger2 {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin-top: 1px; /* Agrega un espacio superior para separar el botón del pie de página */
}
